In [1]:
import tensorflow

In [2]:
import keras

Using TensorFlow backend.

In [8]:
import numpy as np
import pandas as pd
data_movie = pd.read_csv('movie.csv', sep=',', encoding='latin-1')
data_movie.head()

,movie_id,movie,region,language,release_year,duration_in_min,genres,numvotes,primaryname,role,birthyear,deathyear,primaryprofession,rating
0,10000,Amor gitano,ES,NaN,1910,NaN,NaN,8,Segundo de Chomón,director,1871.0,1929.0,"director,cinematographer,writer",5.6
1,10001,As in a Looking Glass,US,NaN,1911,NaN,Drama,28,Wilfred Lucas,actor,1871.0,1940.0,"actor,director,writer",5.1
2,10002,The Infant at Snakeville,US,NaN,1911,NaN,NaN,5,Gilbert M. Broncho Billy Anderson,actor,1880.0,1971.0,"director,actor,producer",5.2
3,10003,Who Will Marry Mary?,US,NaN,1913,NaN,"Action,Adventure",14,Mary Fuller,actress,1888.0,1973.0,"actress,writer",5.6
4,10004,The Active Life of Dolly of the Dailies,US,NaN,1914,NaN,Drama,43,Mary Fuller,actress,1888.0,1973.0,"actress,writer",6.2

In [4]:
data_movie.drop('language',axis =1,inplace = True)

In [5]:
data_movie['genres'].fillna(value = "Drama,Comedy,Thriller",inplace = True)

In [6]:
data_movie['Drama'] = 0
data_movie['Adventure'] = 0
data_movie['Comedy'] = 0
data_movie['Thriller'] = 0
data_movie['Documentary'] = 0
data_movie['Other'] = 0

In [7]:
for i in range(0,18166):
    df1 = data_movie['genres'][i].split(',')
    if len(df1) == 2:
        for j in range(0,2):
            if (df1[j] == 'Drama' or df1[j] == 'Romance' or df1[j] == 'Musical' or df1[j] == 'Western' or df1[j] == 'Family' or df1[j] == 'Fantasy' or df1[j] == 'Music'):
                data_movie['Drama'][i] = 1
            elif (df1[j] == 'Adventure' or df1[j] == 'War'):
                data_movie['Adventure'][i] = 1
            elif (df1[j] == 'Crime' or df1[j] == 'Horror' or df1[j] == 'Action' or df1[j] == 'Thriller' or df1[j] == 'Mystery' or df1[j] == 'Sci-Fi' or df1[j] == 'History'):
                data_movie['Thriller'][i] = 1
            elif df1[j] == 'Comedy':
                data_movie['Comedy'][i] = 1
            elif (df1[j] == 'Biography' or df1[j] == 'Documentary' or df1[j] == 'Sport'):
                data_movie['Documentary'][i] = 1
            else: data_movie['Other'][i] = 1
    elif len(df1) == 3:
        for j in range(0,3):
            if (df1[j] == 'Drama' or df1[j] == 'Romance' or df1[j] == 'Musical' or df1[j] == 'Western' or df1[j] == 'Family' or df1[j] == 'Fantasy' or df1[j] == 'Music'):
                data_movie['Drama'][i] = 1
            elif (df1[j] == 'Adventure' or df1[j] == 'War'):
                data_movie['Adventure'][i] = 1
            elif (df1[j] == 'Crime' or df1[j] == 'Horror' or df1[j] == 'Action' or df1[j] == 'Thriller' or df1[j] == 'Mystery' or df1[j] == 'Sci-Fi' or df1[j] == 'History'):
                data_movie['Thriller'][i] = 1
            elif df1[j] == 'Comedy':
                data_movie['Comedy'][i] = 1
            elif (df1[j] == 'Biography' or df1[j] == 'Documentary' or df1[j] == 'Sport'):
                data_movie['Documentary'][i] = 1
            else: data_movie['Other'][i] = 1
    elif len(df1) == 1:
        j = 0
        if (df1[j] == 'Drama' or df1[j] == 'Romance' or df1[j] == 'Musical' or df1[j] == 'Western' or df1[j] == 'Family' or df1[j] == 'Fantasy' or df1[j] == 'Music'):
            data_movie['Drama'][i] = 1
        elif (df1[j] == 'Adventure' or df1[j] == 'War'):
            data_movie['Adventure'][i] = 1
        elif (df1[j] == 'Crime' or df1[j] == 'Horror' or df1[j] == 'Action' or df1[j] == 'Thriller' or df1[j] == 'Mystery' or df1[j] == 'Sci-Fi' or df1[j] == 'History'):
            data_movie['Thriller'][i] = 1
        elif df1[j] == 'Comedy':
            data_movie['Comedy'][i] = 1
        elif (df1[j] == 'Biography' or df1[j] == 'Documentary' or df1[j] == 'Sport'):
            data_movie['Documentary'][i] = 1
        else: data_movie['Other'][i] = 1

C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
data_movie.drop('genres',axis =1,inplace = True)

In [9]:
data_movie.drop('primaryname',axis =1,inplace = True)

In [10]:
role = pd.get_dummies(data_movie['role'],drop_first = True)
data_movie = pd.concat([data_movie,role],axis = 1)

In [11]:
#data_movie.drop('role',axis =1,inplace = True)

In [12]:
data_movie.drop('movie_id',axis =1,inplace = True)

In [13]:
def input_votes (cols):
    numvotes = cols[0]
    movie = cols[1]
    if numvotes >= 500000:
        movie = 'A'
        return movie
    elif numvotes < 500000 and numvotes >= 200000:
        movie = 'B'
        return movie
    elif numvotes < 200000 and numvotes >= 50000:
        movie = 'C'
        return movie
    elif numvotes < 50000 and numvotes >= 20000:
        movie = 'D'
        return movie
    elif numvotes < 20000 and numvotes >= 5000:
        movie = 'E'
        return movie
    elif numvotes < 5000 and numvotes >= 2000:
        movie = 'F'
        return movie
    elif numvotes < 2000 and numvotes >= 1000:
        movie = 'G'
        return movie
    elif numvotes < 1000 and numvotes >= 500:
        movie = 'H'
        return movie
    else:
        movie = 'I'
        return movie

In [14]:
data_movie['movie'] = data_movie[['numvotes','movie']].apply(input_votes,axis = 1)

In [15]:
movie = pd.get_dummies(data_movie['movie'],drop_first = True)
data_movie = pd.concat([data_movie,movie],axis = 1)

In [16]:
data_movie.drop('movie',axis =1,inplace = True)

In [17]:
def input_role (cols):
    role = cols[0]
    primaryprofession = cols[1]
    if pd.isnull(primaryprofession):
        if role == 'director':
            return 'director'
        elif role == 'actor':
            return 'actor'
        elif role == 'actress':
            return 'actress'
        elif role == 'composer':
            return 'composer'
        elif role == 'cinematographer':
            return 'cinematographer'
        elif role == 'writer':
            return'writer'
        elif role == 'producer':
            return 'producer'
        elif role == 'self' or role == 'archive_footage':
            return 'miscellaneous'
        
    else: return primaryprofession

In [18]:
data_movie['primaryprofession'] = data_movie[['role','primaryprofession']].apply(input_role,axis = 1)

In [19]:
data_movie.drop('role',axis =1,inplace = True)

In [20]:
data_movie['actor'] = 0
data_movie['director'] = 0
data_movie['actress'] = 0
data_movie['cinematographer'] = 0
data_movie['writer'] = 0
data_movie['producer'] = 0
data_movie['sound'] = 0
data_movie['miscellaneous'] = 0
data_movie['costume'] = 0
data_movie['editor'] = 0
data_movie['art'] = 0
data_movie['casting'] = 0
data_movie['other'] = 0

In [21]:
for i in range(0,18166):
    df1 = data_movie['primaryprofession'][i].split(',')
    if len(df1) == 2:
        for j in range(0,2):
            if (df1[j] == 'director' or df1[j] == 'assistant_director'):
                data_movie['director'][i] = 1
            elif (df1[j] == 'actor'):
                data_movie['actor'][i] = 1
            elif (df1[j] == 'actress'):
                data_movie['actress'][i] = 1
            elif (df1[j] == 'cinematographer' or df1[j] == 'camera_department'):
                data_movie['cinematographer'][i] = 1
            elif (df1[j] == 'writer' or df1[j] == 'script_department'):
                data_movie['writer'][i] = 1
            elif (df1[j] == 'producer' or df1[j] == 'production_manager' or df1[j] == 'production_designer' or df1[j] == 'manager' or df1[j] == 'executive'):
                data_movie['producer'][i] = 1
            elif (df1[j] == 'soundtrack' or df1[j] == 'sound_department' or df1[j] == 'music_department' or df1[j] == 'composer'):
                data_movie['sound'][i] = 1
            elif df1[j] == 'miscellaneous':
                data_movie['miscellaneous'][i] = 1
            elif (df1[j] == 'costume_designer' or df1[j] == 'costume_department'):
                data_movie['costume'][i] = 1
            elif (df1[j] == 'editor' or df1[j] == 'editorial_department' or df1[j] == 'visual_effects' or df1[j] == 'animation_department' or df1[j] == 'special_effects'):
                data_movie['editor'][i] = 1
            elif (df1[j] == 'art_director' or df1[j] == 'art_department'):
                data_movie['art'][i] = 1
            elif (df1[j] == 'casting_director' or df1[j] == 'casting_department'):
                data_movie['casting'][i] = 1
                
            else: data_movie['other'][i] = 1
    elif len(df1) == 3:
        for j in range(0,3):
            if (df1[j] == 'director' or df1[j] == 'assistant_director'):
                data_movie['director'][i] = 1
            elif (df1[j] == 'actor'):
                data_movie['actor'][i] = 1
            elif (df1[j] == 'actress'):
                data_movie['actress'][i] = 1
            elif (df1[j] == 'cinematographer' or df1[j] == 'camera_department'):
                data_movie['cinematographer'][i] = 1
            elif (df1[j] == 'writer' or df1[j] == 'script_department'):
                data_movie['writer'][i] = 1
            elif (df1[j] == 'producer' or df1[j] == 'production_manager' or df1[j] == 'production_designer' or df1[j] == 'manager' or df1[j] == 'executive'):
                data_movie['producer'][i] = 1
            elif (df1[j] == 'soundtrack' or df1[j] == 'sound_department' or df1[j] == 'music_department' or df1[j] == 'composer'):
                data_movie['sound'][i] = 1
            elif df1[j] == 'miscellaneous':
                data_movie['miscellaneous'][i] = 1
            elif (df1[j] == 'costume_designer' or df1[j] == 'costume_department'):
                data_movie['costume'][i] = 1
            elif (df1[j] == 'editor' or df1[j] == 'editorial_department' or df1[j] == 'visual_effects' or df1[j] == 'animation_department' or df1[j] == 'special_effects'):
                data_movie['editor'][i] = 1
            elif (df1[j] == 'art_director' or df1[j] == 'art_department'):
                data_movie['art'][i] = 1
            elif (df1[j] == 'casting_director' or df1[j] == 'casting_department'):
                data_movie['casting'][i] = 1
                
            else: data_movie['other'][i] = 1
    elif len(df1) == 1:
        j = 0
        if (df1[j] == 'director' or df1[j] == 'assistant_director'):
            data_movie['director'][i] = 1
        elif (df1[j] == 'actor'):
            data_movie['actor'][i] = 1
        elif (df1[j] == 'actress'):
            data_movie['actress'][i] = 1
        elif (df1[j] == 'cinematographer' or df1[j] == 'camera_department'):
            data_movie['cinematographer'][i] = 1
        elif (df1[j] == 'writer' or df1[j] == 'script_department'):
            data_movie['writer'][i] = 1
        elif (df1[j] == 'producer' or df1[j] == 'production_manager' or df1[j] == 'production_designer' or df1[j] == 'manager' or df1[j] == 'executive'):
            data_movie['producer'][i] = 1
        elif (df1[j] == 'soundtrack' or df1[j] == 'sound_department' or df1[j] == 'music_department' or df1[j] == 'composer'):
            data_movie['sound'][i] = 1
        elif df1[j] == 'miscellaneous':
            data_movie['miscellaneous'][i] = 1
        elif (df1[j] == 'costume_designer' or df1[j] == 'costume_department'):
            data_movie['costume'][i] = 1
        elif (df1[j] == 'editor' or df1[j] == 'editorial_department' or df1[j] == 'visual_effects' or df1[j] == 'animation_department' or df1[j] == 'special_effects'):
            data_movie['editor'][i] = 1
        elif (df1[j] == 'art_director' or df1[j] == 'art_department'):
            data_movie['art'][i] = 1
        elif (df1[j] == 'casting_director' or df1[j] == 'casting_department'):
            data_movie['casting'][i] = 1
                
        else: data_movie['other'][i] = 1

C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\CHANDU\anaconda3\envs\testme\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
data_movie.drop('primaryprofession',axis =1,inplace = True)

In [23]:
region = pd.get_dummies(data_movie['region'],drop_first = True)
data_movie = pd.concat([data_movie,region],axis = 1)

In [24]:
data_movie.drop('region',axis = 1,inplace = True)

In [25]:
data_movie.count()

release_year       18166
duration_in_min    17196
numvotes           18166
birthyear          16500
deathyear          10958
rating             18066
Drama              18166
Adventure          18166
Comedy             18166
Thriller           18166
Documentary        18166
Other              18166
actress            18166
archive_footage    18166
cinematographer    18166
composer           18166
director           18166
producer           18166
self               18166
writer             18166
B                  18166
C                  18166
D                  18166
E                  18166
F                  18166
G                  18166
H                  18166
I                  18166
actor              18166
sound              18166
miscellaneous      18166
costume            18166
editor             18166
art                18166
casting            18166
other              18166
BD                 18166
BE                 18166
CA                 18166
CH                 18166
DZ                 18166
EG                 18166
ES                 18166
FR                 18166
GB                 18166
GR                 18166
HK                 18166
IE                 18166
IL                 18166
IN                 18166
JP                 18166
LU                 18166
NZ                 18166
PH                 18166
TH                 18166
US                 18166
XAS                18166
XEU                18166
XWW                18166
ZA                 18166
dtype: int64

In [26]:
data_movie['birthyear'].fillna(value = data_movie['birthyear'].mean(),inplace = True)

In [27]:
data_movie['birthyear']

0        1871.000000
1        1871.000000
2        1880.000000
3        1888.000000
4        1888.000000
            ...
18161    1930.000000
18162    1888.000000
18163    1937.000000
18164    1960.000000
18165    1924.724727
Name: birthyear, Length: 18166, dtype: float64

In [28]:
data_movie['deathyear'].fillna(value = data_movie['deathyear'].mean(),inplace = True)

In [29]:
data_movie['deathyear']

0        1929.000000
1        1940.000000
2        1971.000000
3        1973.000000
4        1973.000000
            ...
18161    2001.000000
18162    1976.000000
18163    1984.794944
18164    1984.794944
18165    1984.794944
Name: deathyear, Length: 18166, dtype: float64

In [30]:
data_movie['duration_in_min'].fillna(value = 62,inplace = True)

In [31]:
data_movie.tail(10)

,release_year,duration_in_min,numvotes,birthyear,deathyear,rating,Drama,Adventure,Comedy,Thriller,...,JP,LU,NZ,PH,TH,US,XAS,XEU,XWW,ZA
18156,1997,102.0,149,1965.000000,1984.794944,6.0,1,0,1,0,...,0,0,0,0,0,1,0,0,0,0
18157,2002,91.0,70,1924.724727,1984.794944,6.5,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18158,1997,95.0,27,1958.000000,1984.794944,5.7,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
18159,1997,92.0,91,1924.724727,1984.794944,5.5,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18160,1999,62.0,104,1973.000000,1984.794944,4.6,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18161,1985,91.0,1245,1930.000000,2001.000000,3.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18162,1941,90.0,21,1888.000000,1976.000000,8.7,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18163,1959,85.0,78,1937.000000,1984.794944,5.9,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
18164,1973,77.0,5,1960.000000,1984.794944,5.0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18165,1994,62.0,11,1924.724727,1984.794944,7.5,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [32]:
np.where(pd.to_numeric(data_movie['rating'], errors='coerce').isna())

(array([  114,   294,   474,   655,   835,  1017,  1198,  1378,  1559,
         1739,  1919,  2100,  2281,  2460,  2641,  2821,  3000,  3182,
         3362,  3544,  3725,  3907,  4087,  4269,  4450,  4630,  4811,
         4991,  5172,  5353,  5534,  5715,  5895,  6076,  6257,  6437,
         6617,  6797,  6976,  7155,  7335,  7515,  7695,  7877,  8057,
         8237,  8417,  8596,  8778,  8961,  9144,  9326,  9506,  9686,
         9869, 10049, 10232, 10412, 10592, 10772, 10952, 11133, 11313,
        11494, 11676, 11857, 12038, 12218, 12400, 12579, 12760, 12940,
        13121, 13301, 13481, 13665, 13845, 14025, 14204, 14384, 14565,
        14745, 14925, 15106, 15288, 15467, 15647, 15828, 16008, 16191,
        16372, 16552, 16732, 16912, 17092, 17272, 17451, 17635, 17817,
        17998], dtype=int64),)

In [33]:
data_movie_test = data_movie.iloc[[  114,   294,   474,   655,   835,  1017,  1198,  1378,  1559,
         1739,  1919,  2100,  2281,  2460,  2641,  2821,  3000,  3182,
         3362,  3544,  3725,  3907,  4087,  4269,  4450,  4630,  4811,
         4991,  5172,  5353,  5534,  5715,  5895,  6076,  6257,  6437,
         6617,  6797,  6976,  7155,  7335,  7515,  7695,  7877,  8057,
         8237,  8417,  8596,  8778,  8961,  9144,  9326,  9506,  9686,
         9869, 10049, 10232, 10412, 10592, 10772, 10952, 11133, 11313,
        11494, 11676, 11857, 12038, 12218, 12400, 12579, 12760, 12940,
        13121, 13301, 13481, 13665, 13845, 14025, 14204, 14384, 14565,
        14745, 14925, 15106, 15288, 15467, 15647, 15828, 16008, 16191,
        16372, 16552, 16732, 16912, 17092, 17272, 17451, 17635, 17817,
        17998]]

In [34]:
data_movie_test.head(10)

,release_year,duration_in_min,numvotes,birthyear,deathyear,rating,Drama,Adventure,Comedy,Thriller,...,JP,LU,NZ,PH,TH,US,XAS,XEU,XWW,ZA
114,1934,86.0,2737,1899.000000,1974.000000,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
294,1950,98.0,403,1922.000000,2013.000000,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
474,1972,110.0,9396,1936.000000,1984.794944,NaN,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
655,1989,90.0,6,1924.724727,1984.794944,NaN,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
835,1935,58.0,27,1896.000000,1967.000000,NaN,1,1,0,1,...,0,0,0,0,0,1,0,0,0,0
1017,1966,88.0,807,1943.000000,1984.794944,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1198,1990,98.0,596,1964.000000,1984.794944,NaN,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1378,1940,64.0,34,1904.000000,1972.000000,NaN,1,1,0,1,...,0,0,0,0,0,1,0,0,0,0
1559,1977,90.0,61,1925.000000,2006.000000,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1739,1996,97.0,24480,1970.000000,1984.794944,NaN,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
data_movie.dropna(axis=0, subset=['rating'], inplace = True)

In [36]:
data_movie.count()

release_year       18066
duration_in_min    18066
numvotes           18066
birthyear          18066
deathyear          18066
rating             18066
Drama              18066
Adventure          18066
Comedy             18066
Thriller           18066
Documentary        18066
Other              18066
actress            18066
archive_footage    18066
cinematographer    18066
composer           18066
director           18066
producer           18066
self               18066
writer             18066
B                  18066
C                  18066
D                  18066
E                  18066
F                  18066
G                  18066
H                  18066
I                  18066
actor              18066
sound              18066
miscellaneous      18066
costume            18066
editor             18066
art                18066
casting            18066
other              18066
BD                 18066
BE                 18066
CA                 18066
CH                 18066
DZ                 18066
EG                 18066
ES                 18066
FR                 18066
GB                 18066
GR                 18066
HK                 18066
IE                 18066
IL                 18066
IN                 18066
JP                 18066
LU                 18066
NZ                 18066
PH                 18066
TH                 18066
US                 18066
XAS                18066
XEU                18066
XWW                18066
ZA                 18066
dtype: int64

In [37]:
concrete_data_columns = data_movie.columns

predictors = data_movie[concrete_data_columns[concrete_data_columns != 'rating']] # all columns except Strength
target = data_movie['rating'] # Strength column
X = predictors
Y = target

In [38]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size = 0.3)
n_cols = predictors.shape[1]
from keras.models import Sequential
from keras.layers import Dense
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(256, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(256, activation='relu'))
    model.add(Dense(256, activation='relu'))
    model.add(Dense(256, activation='relu'))
    #model.add(Dense(256, activation='relu'))
    #model.add(Dense(256, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model
model = regression_model()
model.fit(predictors, target, epochs= 20, verbose=2)
predictions = model.predict(X_test)
a = mean_squared_error(Y_test, predictions)

Epoch 1/20
 - 2s - loss: 459198.4876
Epoch 2/20
 - 3s - loss: 26671.3753
Epoch 3/20
 - 2s - loss: 23.7797
Epoch 4/20
 - 2s - loss: 859.8951
Epoch 5/20
 - 2s - loss: 994.9146
Epoch 6/20
 - 2s - loss: 1.9798
Epoch 7/20
 - 2s - loss: 1.8022
Epoch 8/20
 - 2s - loss: 2.1252
Epoch 9/20
 - 2s - loss: 29.2622
Epoch 10/20
 - 2s - loss: 1.5315
Epoch 11/20
 - 2s - loss: 1.5768
Epoch 12/20
 - 2s - loss: 1.3717
Epoch 13/20
 - 2s - loss: 1.3710
Epoch 14/20
 - 2s - loss: 1.3493
Epoch 15/20
 - 2s - loss: 1.3061
Epoch 16/20
 - 2s - loss: 1.2691
Epoch 17/20
 - 2s - loss: 1.2545
Epoch 18/20
 - 2s - loss: 1.3085
Epoch 19/20
 - 2s - loss: 1.2989
Epoch 20/20
 - 2s - loss: 1.2419

In [39]:
a

1.1984774751233087

In [40]:
 r2_score(Y_test,predictions)

0.044482746828298225

In [57]:
b

-0.16289630315588766